EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
EXPO_PUBLIC_MAPBOX_TOKEN=your_mapbox_public_token
RNMAPBOX_MAPS_DOWNLOAD_TOKEN=your_mapbox_secret_download_token
EXPO_PUBLIC_SPOONACULAR_API_KEY=your_spoonacular_api_key
